.hero-wrapper {
  background-image: url("/hero.png");
  background-size: contain;
  background-position: right 10%;
  background-repeat: no-repeat;
  height: 80vh;
}
.hero-title > h1 {
  font-weight: 600;
  font-size: 3.5rem;
}
.hero-container {
  gap: 2rem;
  position: relative;
}
.hero-text {
  font-size: 1.1rem;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.148);
}

.stats-container {
  gap: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stat > img {
  width: 70px;
}
.orangeCircle {
  background: var(--orange-gradient);
  border-radius: 100%;
  width: 110px;
  height: 110px;
  position: absolute;
  top: 10px;
  left: -50px;
  z-index: -1;
  filter: blur(0px);
}
